.item_outer_box{
    border: 1px solid lightgray;padding: 0.4em;width: 620px;height: 110px
}
.item_inner_box{
    margin-left:8em;margin-top: 4px;width: 400px
}
.res_price{
    float: right;
    margin-right: 0.4em;
    margin-top: -2.4em;
    font-size: 2em;
    font-family: 'Pacifico', cursive;
    border-left: 1px solid lightgray;
}
.item_description{
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
#add_food_button{
    background-color: #e74c3c;
    color:white;
    width: 200px;
}
.res_price{
    margin-top: -3.4em;
    font-size: 1.6em;
}
.add_item_button{
    font-size: 0.6em;
    background-color: #e74c3c;
    color: white;
    margin-left: 20px;
    font-family: auto;
    width: 90px;
}
.menu_price_fix_style{
    margin-left: 18px;
}
@media only screen and (max-width: 600px) {
    .item_description{
        width: 50%;
    }
    #some_space{
        margin-top: 2em;
    }
    .res_price{
       font-size: 1.8em;
        margin-top: -0.5em;
        border-top: 1px solid lightgray;
        margin-right: 0px;
    }
    .item_outer_box{
        width: 340px;
        height: 130px;
    }
}
